

<div class="row">
    <form method="post" action="/standard/create">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" class="form-control" name="Name" />
        </div>
            <div class="form-group">
            <label class="control-label">Description</label>
            <textarea name="Description" class="form-control"></textarea>
        </div>
        &nbsp;
            <div class="form-group">
                <a href="/standard/index" class="btn btn-success">Back to Index</a>
          <input type="submit" class="btn btn-primary" value="Create" />
          <input type="reset" class="btn btn-danger" value="Reset" />
        </div>
    </form>
</div>